/* Reset */

* {
  margin: 0;
  padding: 0;
} /* to remove the top and left whitespace */

html,
body {
  width: 100%;
  height: 100%;
} /* just to be sure these are full screen*/

canvas {
  display: block;
} /* To remove the scrollbars */

/* Styles */

html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

/*
  Control form
*/
form.controls {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 5px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*
  Control fields
*/

.controls .form-fields {
  display: flex;
  flex-wrap: wrap;
}

.controls fieldset {
  flex: 1;
  text-align: center;
  min-width: 70px;
  margin: 0 5px 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

.controls fieldset legend {
  font-variant: all-small-caps;
  font-weight: bold;
}

.controls fieldset.offset {
  display: flex;
  min-width: 150px;
}

.controls fieldset div.offset-inputs {
  display: flex;
  align-items: center;
}
.controls fieldset div.offset-inputs input {
  font-size: 21px;
}

.controls input {
  border: none;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
  background: none;
  font-weight: bold;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.controls .offset-inputs > label:first-of-type {
  margin-right: 10px;
}

.controls .offset-inputs label {
  font-size: 10px;
}

.controls .offset-inputs div {
  font-weight: bold;
  font-size: 12px;
  flex: 1;
  margin-right: 10px;
}

.controls .offset-inputs div:last-child {
  margin-right: 0;
}

/*
  Control actions
*/

form.controls .form-actions {
  display: flex;
  justify-content: space-between;
}

form.controls .form-actions button {
  flex: 1;
  font-size: 20px;
  background: none;
  border: 1px solid black;
  border-radius: 3px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  color: white;
}

form.controls .form-actions button:last-child {
  margin-right: 0;
}

/*
  Canvas
*/

main {
  text-align: center;
  overflow: hidden;
  overflow-x: scroll;
}

main canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*
  Base styles
*/

form label {
  display: flex;
  align-items: baseline;
}

form label :first-child {
  margin-right: 5px;
}
